body {
    background-color: antiquewhite;
}

.menuItemDiv {
    background-color: antiquewhite;
    padding: 10px;
    column-count: 2;
    column-width: 50%;
    font-size: 4vw;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.menuItemText {
    display: flex;
    flex-direction: column;
    font-size: 2vw;
    margin-left: 5vw;
}

.menuItemPhoto {
    width: 40vw;
    max-width: 238px;
}

.dishPrice {
    align-self: flex-end;
    margin-right: 2vw;
    font-size: 2vw;
    margin-top: -4vw;
}

.h3 {
    font-size: 4vw;
    padding: 0;
}

#menuListDiv {
    display: flex;
    flex-direction: column;
}

#menuHeaderDiv {
    text-align: center;
    font-size: 2vw;
}

#menuHeaderDiv h3 {
    font-size: 3vw;
}

.menuChoiceDiv {
    font-size: 2.5vw;
}

#menuChoicesDiv {
    text-align: center;
}